@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("../images/virtual-classroom-study-space.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.logo{
  padding-left: 15px;
}

.dropdown-loginTeacher-item,
.dropdown-loginStudent-item,
.dropdown-signupStudent-item,
.dropdown-signupTeacher-item{
  color: #000;
}

.navbar-brand,
.nav-link{
  color: black;
}

.container {
  display: flex;
  justify-content: right;
  width: 100%;
  margin-top: 50px;
}

.card {
  background-color: transparent;
  padding: -10px;
  border: 0;
}

h1{
  text-align: center;
  margin-bottom: 5%;
  color: #fff;
} 

.label-float input{
  width: 100%;
  padding: 15px 15px;
  border: 0;
  background-color: #fff;
  outline: none;
  min-width: 50px;
  font-size: 16px;
  border-radius: 50px;
}

.label-float{
  margin-top: 5px;
  margin-bottom: 5px;
}

.label-float label{
  color: white;
}

.button{
  background-color: #fff;
  color: #000000;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all .4s ease-out;
  margin-left: 10px;
}


button:hover{
  background-color: #fff;
  color: gray;
}

.justify-center{
  display: flex;
  justify-content: center;
}

p{
  color: #fff;
  font-size: 15pt;
  font-style: bold;
  text-align: center;
}

a{
  color: #fff;
  font-weight: bold;
}

.fa-eye{
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: white;
}

 #msgError{
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}