@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("../images/medium-shot-man-with-laptop.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.logo {
  padding-left: 15px;
  margin-top: 35px;
}

.projeto {
  margin-left: 10px;
  margin-top: 55px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  text-align: left;
}

.openeduca1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.name {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.Conheca {
  margin-top: 240px;
  font-size: 40px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 50px;
  text-align: center;
}

.body1 {
  margin-top: 40px;
  width: 500px;
  height: 500px;
  box-shadow: 5px 5px 5px #888888;
  background-color: #FFFFFF;
  margin-left: 50px;
  margin-bottom: 10px;
}

.openeduca2 {
  color: white;
  margin-top: 10px;
  margin-left: -500px;
  font-size: 110px;
  line-height: 110px;
  text-align: center;
}

.dropdown-loginTeacher-item,
.dropdown-loginStudent-item,
.dropdown-signupStudent-item,
.dropdown-signupTeacher-item {
  color: #000;
}

.navbar-brand,
.nav-link {
  color: white;
}

.navbar {
  position: fixed;
  margin-top: 0px;
}

.cards {
  display: flex;
  justify-content: center;
}

.primeiro,
.segundo,
.terceiro {
  background-color: #ffffffbc;
  margin: 10px;
  width: 400px;
  height: 500px;
  box-shadow: 3px 3px 1px 0px #00000060;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.Desenvolvedores {
  margin-top: 220px;
  font-size: 40px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 50px;
  text-align: center;
}

.firstimg {
  margin-top: 30px;
  transition: all 0.5s ease;
}

.terceiraimg {
  margin-top: 25px;
  transition: all 0.5s ease;
}

.segundaimg {
  transition: all 0.5s ease;
}

.firstimg:hover,
.terceiraimg:hover,
.segundaimg:hover {
  transform: scale(1.2);
}

.p2 {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
}

.p1,
.p3 {
  margin: 20px;
  font-size: 17px;
}

#users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 90px;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffffbc;
  padding: 20px;
  margin: 10px;
  width: 400px;
  height: 400px;
  box-shadow: 3px 3px 1px 0px #00000060;
}

.user-container img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 50px;
}

.user-container h2, .user-container p {
  margin: 5px 0;
}

